body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #06264d 50%, #00548b 50%);
    background-size: 188% 200%;
    animation: animacionGradiente 15s ease infinite;
    padding-top: 0px; /* Añade un padding-top al body */
}

@keyframes animacionGradiente {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed; /* Agrega esta línea */
    width: 100%; /* Agrega esta línea */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    top: 0; /* Asegura que el encabezado esté en la parte superior de la página */
}

/* Logo en el encabezado */
.contenedor-logo {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 2px; /* Ajusta el espaciado interno del contenedor */
    flex-grow: 1;
}

.contenedor-logo img {
    max-width: 80px; /* Ajusta el tamaño máximo del logo */
    height: auto;
    cursor: pointer;
}

.contenedor-brandingEscuela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0.03;
}

.contenedor-brandingEscuela img {
    max-width: 500px; /* Ajusta el tamaño máximo del logo */
    height: auto;
}



.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
}

/* Cuerpo del formulario */
.formulario-login, .informacion-formulario {
    width: 30%;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    text-align: left;
    margin: 10px; /* Añade un poco de espacio entre los formularios */
}

.grupo-formulario {
    margin-bottom: 15px;
}

.grupo-formulario label, .grupo-formulario input, button  {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

/* Los recuadros donde se ingresa el usuario y contraseña */
.grupo-formulario input {
    width: 95%;
    padding: 10px;
    border: 1px solid #cccccc9c;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #239ee6;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6dd5ed;
}



/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .formulario-login, .informacion-formulario {
        width: 80%; /* Aumenta el ancho en dispositivos móviles para mejor legibilidad */
        margin-bottom: 20px; /* Añade más espacio entre los formularios */
    }

    .grupo-formulario label, .grupo-formulario input, button {
        font-size: 1.1em; /* Aumenta el tamaño de fuente para mejor legibilidad */
    }
}

/* Considera agregar estilos adicionales para pantallas aún más pequeñas */
@media (max-width: 480px) {
    .formulario-login, .informacion-formulario {
        width: 95%; /* Utiliza casi todo el ancho disponible */
    }

    .grupo-formulario label, .grupo-formulario input, button {
        font-size: 1.2em; /* Aumenta aún más el tamaño de fuente */
    }
}

/* Contenido Principal */
.contenido-principal {
    margin-left: 200px; /* Ajusta según el ancho de tu barra lateral */
    margin-top: 60px; /* Ajusta según la altura de tu encabezado */
    padding: 20px; /* Espacio interior para que el contenido no toque los bordes del div */
    height: calc(100vh - 60px - 40px); /* 100% del alto de la ventana menos la altura del encabezado y del pie de página */
    overflow-y: auto; /* Añade scroll vertical si el contenido es muy largo */
}


/* Estilos para el overlay */
/* Estilos para el overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0; /* El overlay comienza sin ancho */
    height: 100%;
    background-color: #00548b; /* Cambia el color a azul */
    z-index: 9999; /* Asegura que esté por encima de todo lo que está dentro de la pagina. Espero que no genere bugs jaj */
    transition: width 0.5s ease, background-color 1s ease-out; /* Transición para la animación */
}

/* Estilos cuando se muestra el overlay */
#overlay.show {
    width: 100%; /* Cubre toda la pantalla */
    background-color: #f0f0f0; /* Cambia el color a este blanco no tan blanco, que tiene about.html */
}

